@import url("../styles/tela.pagamento.css");

.search-button {
    width: 80%;
    margin: .5rem 0 .5rem 0;
}

.search-button-input::placeholder {
    background: url("../assets/images/magnifying-glass-solid.svg") no-repeat;
    background-position: 0.5em;
    padding-left: 2.2rem;
}

.info{
    margin-left: 5%;
}

.notify {
    margin-right: 5%;
}

.enders {
    margin-left: 5%;
}

.ender {
    margin-top: .3rem;
    font-weight: bold;
}

.cep {
    margin-top: -.8rem;
    color: #bdbdbd;
    border-bottom: 1px solid #bdbdbd;
    padding-bottom: .5rem;
}

.p-card {
    font-size: .8rem;
    margin: 0;
}

.img-card {
    margin-top: .9rem;
}

@media screen and (min-width: 470px) {
    .enders {
        flex-direction: column;
    }

    .img-card {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .titulo-card {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .p-card {
        margin: 0 1rem 0 1rem;
        text-align: center;
    }
}

@media screen and (min-width: 600px) {
    .search-button {
        width: 50%;
    }

    .enders {
        margin: 1rem 0 0 0;
        flex-direction: row;
        justify-content: center;
    }

    .img-card {
        margin-top: .9rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .titulo-card {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .p-card {
        margin: 0 1rem 0 1rem;
        text-align: center;
    }
}

@media screen and (min-width: 700px) {
    .search-button {
        width: 50%;
    }

    .enders {
        margin-top: 1rem;
    }

    .img-card {
        margin-top: .9rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .titulo-card {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .p-card {
        margin: 0 1rem 0 1rem;
    }
}