.header-profile {
    color: white;
}

.background {
    background-image: linear-gradient(to bottom, black 0, black 65%, white 35%);
}

.profile-img {
    border: 2px solid black;
    border-radius: 50%;
    background-color: black;
}

.btn-atualizar {
    background-color: black;
    color: white;
    padding: .5rem 6rem;
}

.btn-atualizar:hover {
    background-color:  rgb(82, 186, 255);
    color: white;
}

input:invalid {
    border: 2px inset red;
}

@media screen and (min-width: 800px) {
    .btn-atualizar {
        background-color: black;
        color: white;
    }
}