@import url("./styles/tela.home.css");
@import url("./styles/tela.busca.css");
@import url("./styles/tela.pagamento.css");
@import url("./styles/tela.perfil.css");

* {
    margin: 0;
    padding: 0;
}

h1 {
    font-weight: bold;
}

li {
    list-style: none;
    
}

a {
    text-decoration: none;
    color: black;
}

nav {
    background-color: rgb(82, 186, 255);
}

.nav-web{
    margin-bottom: .3rem;
}

body {
    font-family: 'Signika', sans-serif;
}

.btn-cadastro {
    background-color: #0134cb;
    color: white;
}

.btn-login {
    background-color: #12d7c1;
    color: white;
}

.btn-cadastro:hover, .btn-login:hover {
    background-color: black;
    color: white;
}

.footer {
    margin: .2rem;
    margin-top: 1.8rem;
    font-size: .7rem;
    width: 5rem;
    height: auto;
    max-height: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer:hover {
    text-decoration: underline 2px;
}  

@media screen and (min-width: 430px) {
    .titulo-index {
        padding: 1rem .5rem .5rem .5rem;
    }
}

@media screen and (min-width: 600px) {
    .info {
        margin-left: 15.5%;
    }

    .notify {
        margin-right: 15%;
    }

    .titulo-index {
        text-align: center;
        padding: 1rem 0 .5rem 0;
    }

    .btn-cadastro {
        padding: .5rem 6rem;
    }
    
    .btn-login {
        padding: .5rem 6rem;
    }

    .botoes {
        display: flex;
        justify-content: center;
    }
}

@media screen and (min-width: 800px) {
    .info {
        margin-left: 25.5%;
    }

    .notify {
        margin-right: 25%;
    }

    .titulo-index {
        text-align: center;
        padding: 2rem 0 1rem 0;
    }

    .btn-cadastro {
        padding: .5rem 6rem;
    }
    
    .btn-login {
        padding: .5rem 6rem;
    }

    .botoes {
        display: flex;
        justify-content: center;
    }
}